# External MinIO Configuration
MINIO_ENDPOINT=http://your-minio-server:9000
MINIO_ACCESS_KEY=your-access-key
MINIO_SECRET_KEY=your-secret-key
MINIO_WAREHOUSE_BUCKET=warehouse
MINIO_STAGING_WAREHOUSE_BUCKET=warehouse-staging
MINIO_SSL_ENABLED=true

# PostgreSQL Configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

REMOTE_TRINO_HOST=trino72.pusilkom.com
REMOTE_TRINO_PORT=443
REMOTE_TRINO_USERNAME=admin
REMOTE_TRINO_PASSWORD=admin123

# Trino Configuration
TRINO_HOST=trino-cluster-trino
TRINO_PORT=8080  # HTTP Port behind load balancer
TRINO_USERNAME=admin
TRINO_PASSWORD=admin123
TRINO_DOMAIN=trino.yourdomain.com
METASTORE_PORT=9083
METASTORE_STAGING_PORT=9084

# Let's Encrypt Configuration
ACME_EMAIL=your-email@domain.com

AIRFLOW__API_AUTH__JWT_SECRET=your-secret
AIRFLOW__CORE__INTERNAL_API_SECRET_KEY=your-secret

ORCHESTRATOR_DB_USER=airflow
ORCHESTRATOR_DB_PASSWORD=airflow
ORCHESTRATOR_DB_DB=airflow
ORCHESTRATOR_DB_PORT=5433

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin123
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_UID=50000
AIRFLOW_GID=0
AIRFLOW__API__BASE_URL=http://localhost:8080
AIRFLOW__CORE__INTERNAL_API_SECRET_KEY=your-super-secret-internal-api-key-here
AIRFLOW__API_AUTH__JWT_SECRET=your-super-secret-jwt-secret-key-here


